/* dark theme */
.dark li a, .dark .label-menu + div, .dark .label-menu {
    color: #F1F1F1;
    background-color: #5F5F5F;
}
.dark li:hover > a {
    background-color: #000;
}
.dark.off-canvas .label-menu + div {
    background-color: #5F5F5F;
}
.dark .close-menu a span:before, .dark .close-menu a span:after {
    background-color: #F1F1F1;
}
/* green theme */
.green li a, .green .label-menu + div, .green .label-menu {
    color: #F1F1F1;
    background-color: #006600;
}
.green li:hover > a {
    background-color: #003300;
}
.green.off-canvas .label-menu + div {
    background-color: #006600;
}
.green .close-menu a span:before, .green .close-menu a span:after {
    background-color: #F1F1F1;
}
/* green theme */
.green li a, .green .label-menu + div, .green .label-menu {
    color: #F1F1F1;
    background-color: #006600;
}
.green li:hover > a {
    background-color: #003300;
}
.green.off-canvas .label-menu + div {
    background-color: #006600;
}
.green .close-menu a span:before, .green .close-menu a span:after {
    background-color: #F1F1F1;
}
/* skyblue theme */
.skyblue li a, .skyblue .label-menu + div, .skyblue .label-menu {
    color: #000;
    background-color: #87CEEB;
}
.skyblue li:hover > a {
    background-color: #3399ff;
}
.skyblue.off-canvas .label-menu + div {
    background-color: #87CEEB;
}
.skyblue .close-menu a span:before, .skyblue .close-menu a span:after {
    background-color: #000;
}
